input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.input-c3 {
    width: 64px;
    border: 0px;
}
.input-c9 {
    width: 192px;
    border: 0px;
}

tr {
    /* Set every other cell slightly darker. Improves readability. */
    background: 'red';
    font-weight: normal;
    border-bottom: 1px solid var(--nc-tx-1);
}

